# Copyright (C) 2012 The Android Open Source Project
#
# IMPORTANT: Do not create world writable files or directories.
# This is a common source of Android security bugs.
#

on init
# NETWORK: NAT setting
# To prevent out of WINDOW ACK from making
# connection tracking to treat them as INVALID packet
    write /proc/sys/net/netfilter/nf_conntrack_tcp_be_liberal 1

# Wifi: Disable the IPv6 of p2p0 interface
    write /proc/sys/net/ipv6/conf/p2p0/disable_ipv6 1

# change mode & owner of HTC Debug Driver node
    chmod 0664 /proc/driver/hdf
    chown root system /proc/driver/hdf

#BOARD_HAVE_BLUETOOTH_BLUEZ    mkdir /data/misc/bluedroid 0770 bluetooth net_bt_stack
mkdir /data/misc/bluetoothd 0770 bluetooth bluetooth #BOARD_HAVE_BLUETOOTH_BLUEZ

    # HTC add: temp change settings db file access right while boot-up for bootanimation to access
    chmod 0660 /data/data/com.android.providers.settings/databases/settings.db-wal
    chmod 0660 /data/data/com.android.providers.settings/databases/settings.db-shm
    chmod 0660 /data/data/com.android.providers.settings/databases/settings.db-journal
    # HTC add: for customization wizard folder#
    mkdir /data/data/cw 0770 root cw_access
    mkdir /data/data/cwtemp 0770 root cw_access

    # HTC add: make bootanimation can access settings.db during boot-up
    chown system system /data/data
    chmod 0771 /data/data
    chmod 0660 /data/data/com.android.providers.settings/databases/settings.db-wal
    chmod 0660 /data/data/com.android.providers.settings/databases/settings.db-shm
    chmod 0660 /data/data/com.android.providers.settings/databases/settings.db-journal

    # HTC add: double check the perms of /data/data/recovery for already existed case
    chown root recvy_access /data/data/recovery
    chmod 0775 /data/data/recovery

#+SSD_AUD: soundhound dump pcm
    mkdir /data/audio 0775 media audio
    chmod 2775 /data/audio
#-SSD_AUD: soundhound dump pcm

on boot
    write /proc/sys/vm/highmem_is_dirtyable 1
    write /proc/sys/vm/lowmem_reserve_ratio 16\ 16
    write /proc/sys/vm/min_free_kbytes 4096
    chown system system /sys/class/leds/amber/brightness
    chown system system /sys/class/leds/amber/blink
    chown system system /sys/class/leds/green/blink
    chown system system /sys/class/leds/button-backlight/blink
    chown system system /sys/class/leds/amber/off_timer
    chown system system /sys/class/leds/green/off_timer
    chown system system /sys/class/leds/button-backlight/off_timer
    chown system system /sys/class/leds/flashlight/brightness

# HTC SSD USB
    chown system system /sys/class/android_usb/f_modem/on
    chown system system /sys/class/android_usb/f_diag/on
    chown system system /sys/class/android_usb/f_rmnet/on
    chown system system /sys/devices/platform/android_usb/usb_disable

#set diag permissions
    chown radio radio /dev/diag
    chown radio radio /dev/diag_mdm
    chown radio radio /dev/htcdiag
    chown radio radio /dev/diag_arm9
    chown radio radio /dev/btdiag
    chmod 0660 /dev/diag
    chmod 0660 /dev/diag_mdm
    chmod 0660 /dev/htcdiag
    chmod 0660 /dev/diag_arm9
    chmod 0660 /dev/btdiag

service sfc /sbin/sfc
    class core
    oneshot

service gsm0710mux /system/bin/gsm0710muxd -s /dev/ttyACM0 -v 5 -n 8 -m basic
    class core
    user radio
    group radio cache inet misc
#    oneshot
    disabled

service nvm-server /system/bin/nvm_server
    class core
    cgroup bg
    socket nvm-ctl stream 660 radio radio
    user root
    group root
    oneshot

#service poweron_modem /system/bin/poweron_modem.sh /data/modem_work/
##    class late_start
#    user root
#    group root
#    oneshot
##    start gsm0710mux

service hdmid /system/bin/hdmid
    socket displayd stream 0660 root system graphics
    disabled

on property:ro.hdmi.enable=true
    start hdmid

#HTC_WIFI_START
service L2PE /system/bin/l2_profile_exchange handset wlan1
    user root
    group root
    disabled
    oneshot
#HTC_WIFI_END

