#
# Copyright 2012 The Android Open Source Project
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

# Since it is not recommended to provide a custom init.rc HTCs changes to it
# were extracted into init.endeavoru.htc.rc.
# Even though some of HTCs services are not relevant to CM I didn't remove them
# yet. In case modifications were made they are marked with a "# CM:" comment to
# make it easier to detect them.
#
# Add your changes to this file if they need to be executed before the imports
# or to init.endeavoru.cm.rc if it doesn't matter.


# Import HTCs differences from the stock init.rc
import init.endeavoru.htc.rc

# Import HTCs init.endeavoru.common.rc
import init.endeavoru.common.rc

# Import HTCs init.endeavoru.usb.rc
import init.endeavoru.usb.rc

# Shared init between enrc2b/endeavoru
import init.tegra3-common.rc

# Our additions
import init.endeavoru.cm.rc
