#
# Copyright 2012 The Android Open Source Project
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

on early-init
    chown system /sys/kernel/tegra_cap/core_cap_level
    chown system /sys/kernel/tegra_cap/core_cap_state
    chown system /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor

# Interactive governor settings
    chown system system /sys/devices/system/cpu/cpufreq/interactive/boost_factor
    chmod 0664 /sys/devices/system/cpu/cpufreq/interactive/boost_factor
    chown system system /sys/devices/system/cpu/cpufreq/interactive/go_maxspeed_load
    chmod 0664 /sys/devices/system/cpu/cpufreq/interactive/go_maxspeed_load
    chown system system /sys/devices/system/cpu/cpufreq/interactive/io_is_busy
    chmod 0664 /sys/devices/system/cpu/cpufreq/interactive/io_is_busy
    chown system system /sys/devices/system/cpu/cpufreq/interactive/max_boost
    chmod 0664 /sys/devices/system/cpu/cpufreq/interactive/max_boost
    chown system system /sys/devices/system/cpu/cpufreq/interactive/sustain_load
    chmod 0664 /sys/devices/system/cpu/cpufreq/interactive/sustain_load

# liblights
    chown system system /sys/class/leds/button-backlight/currents
    chmod 0664 /sys/class/leds/button-backlight/currents
    chown system system /sys/class/leds/button-backlight/button_brightness
    chmod 0664 /sys/class/leds/button-backlight/button_brightness

# a2dp freq boost
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
    chmod 0664 /sys/devices/platform/tegra_uart.2/a2dp_tuning

# permission for torch app
    chmod 0666 /sys/class/leds/flashlight/brightness

# Mediaserver: camera calibration
    chown system system /dev/block/mmcblk0p2
    chmod 0664 /dev/block/mmcblk0p2

on boot
    # bluetooth
    exec /system/bin/logwrapper /system/bin/load-bt.sh
    insmod /system/lib/modules/uhid.ko

# Replaces HTC's upd_nvs_wlan0 solution with our own
service wifi_calib /system/bin/wifi_calibration.sh
    disabled
    class wifi
    user root
    group root
    oneshot

# fusewrapped external sdcard daemon running as media_rw (1023)
service fuse_sdcard0 /system/bin/sdcard -u 1023 -g 1023 -d /mnt/media_rw/sdcard0 /storage/sdcard0
    class late_start
    disabled

service fuse_usbdisk /system/bin/sdcard -u 1023 -g 1023 -d /mnt/media_rw/usbdisk /storage/usbdisk
    class late_start
    disabled