/dev/tegra-throughput  0666    system  system
/dev/knvmap	0660	system	system
/dev/nvmap	0666	system	system
/dev/tegra_avp	0660	media	media
/dev/tegra_rpc	0660	media	media
/dev/tegra_avpchannel	0660	media	media
/dev/tegra_audio_avpchannel	0660	media	media
/dev/tegra_sema	0660	media	media
/dev/tegra_mediaserver	0660 	media 	media
/dev/ar0832*	0660	media	camera
/dev/tps61050-1	0660	media	camera
/dev/ov9726	0660	media	camera
/dev/tegra_camera	0660	media	camera
/dev/camera*	0660	media	camera
/dev/focuser*	0660	media	camera
/dev/torch*	0660	media	camera
/dev/s5k3h2y    0660    media   camera
/dev/ov8838     0660    media   camera
/dev/s5k6a1gx03 0660    media   camera
/dev/aat1271    0600    media   camera
/dev/ad5823     0660    media   camera
/dev/rawchip0   0660    media   camera
/dev/spi_rawchip        0660    media   camera
/dev/spdif*	0660	system	audio
/dev/tegra_dc*	0660	system	system
/dev/ttyACM*	0660	radio	system
/dev/ttyACM3    0660    radio   log
/dev/mpu	0640	system	system
/dev/mpuirq	0640	system	system
/dev/accelirq	0640	system	system
/dev/timerirq	0640	system	system
/dev/nvhdcp0    0660    system  system
/dev/nvhdcp1    0660    system  system
/dev/nvhost-ctrl	0666	root	root
/dev/nvhost-display	0660	root	root
/dev/nvhost-dsi	0660	root	root
/dev/nvhost-gr2d	0666	root	root
/dev/nvhost-gr3d	0666	root	root
/dev/nvhost-isp	0660	media	media
/dev/nvhost-mpe	0660	media	media
/dev/nvhost-vi	0660	media	media
/dev/video0	0660	media	camera
/dev/video1	0660	media	camera
/dev/tf_driver  0666    system  system
/dev/codec_aic3008     0660    system   audio
/dev/tfa9887	0664	system	audio
/dev/ttyHS0	0664	radio	system
/dev/ttyHS1	0664	root	system
/dev/ttyHS2	0660	bluetooth	bluetooth
/dev/ion	0666	system	system
/dev/pn544	0660	nfc	nfc
/dev/timerinfo	0444	system	system
/dev/ewtzmu2daemon        0666   system     system
/dev/ewtzmu2hal           0666   system     system
/dev/ewtzmu2              0666   system     system
/dev/akm8975_aot          0666   system     system
/dev/akm8975_daemon       0666   system     system
/dev/block/mmcblk0p17     0660   root     system

# for camera to read wdm
/dev/block/mmcblk0p2	0640	root	system

# HtcCarGPS
/dev/ttyHSUSB1                                 0600    system  system

# autobot
/dev/ttyHSUSB3                                 0660    autobot_access  autobot_access
