# for multimedia
/dev/nvhost-ctrl	0666	root	root
/dev/nvhost-display	0666	root	root
/dev/nvhost-dsi		0666	root	root
/dev/nvhost-gr2d	0666	root	root
/dev/nvhost-gr3d	0666	root	root
/dev/nvhost-isp		0666	root	root
/dev/nvhost-mpe		0666	root	root
/dev/nvhost-vi		0666	root	root
/dev/nvhdcp0		0666	system	system
/dev/nvhdcp1		0666	system	system
/dev/timerinfo		0444    system	system

/dev/knvmap	0660	system	system
/dev/nvmap	0666	system	system
/dev/tegra_avp	0660	media	media
/dev/tegra_avpchannel	0660	media	media
/dev/tegra_rpc	0660	media	media
/dev/tegra_sema	0660	media	media
/dev/tegra_mediaserver	0660 	media 	media

# Camera
/dev/block/mmcblk0p2      0660   media      camera
/dev/s5k3h2y	0660	media	camera
/dev/s5k6a1gx03	0660	media	camera
/dev/aat1271	0600	media	camera
/dev/ad5823	0660	media	camera
/dev/gemini0    0660    media	camera
/dev/rawchip0   0660    media	camera
/dev/spi_rawchip	0660	media	camera
/dev/tegra_camera 0660	media	camera
/dev/camera*	0660	media	camera
/dev/focuser*	0660	media	camera
/dev/torch*	0660	media	camera
/dev/spdif*	0660	system	audio
/dev/tegra_dc*	0666	system	system
/dev/ttyACM*	0660	radio	system
/dev/mpu	0640	system	system
/dev/mpuirq	0640	system	system
/dev/timerirq	0640	system	system
/dev/video0     0660    media   camera
/dev/video1     0660    media   camera
/dev/tf_driver	0666	system	system
/dev/codec_aic3008     0660    system   audio

# Sensors
/dev/ewtzmu2daemon        0666   system     system
/dev/ewtzmu2hal		  0666   system     system
/dev/ewtzmu2		  0666   system     system
/dev/akm8975_aot          0666   system	    system
/dev/akm8975_daemon	  0666   system	    system
/dev/akm8976_daemon       0666   system     system
/dev/akm8976_aot          0666   system     system
/dev/akm8973_daemon       0666   system     system
/dev/akm8973_aot          0666   system     system
/dev/bma150               0666   system     system
/dev/cm3602               0666   system     system
/dev/akm8976_pffd         0666   system     system
/dev/lightsensor        0640    system      system

# wifi
/dev/rfkill               0660   root       wifi
/dev/block/mmcblk0p1      0660   root       wifi

# FM
/dev/tifm               0600   fmradio   fmradio

# BT
/dev/ttyHS0               0660   bluetooth  bluetooth

# for modem link
/sys/module/serial/parameters/modem_enabled    0600    system  system
/dev/ttyHSUSB0                                 0600    system  system
/dev/ttySA0                                    0600    system  system
/dev/smd9                                      0600    system  system
/dev/ttyHSUSB3	0660    autobot_access	autobot_access  #Autobot car pc
/dev/ttyHSUSB1	0600    system	system  #Autobot car gps

# simlock
/dev/simlock              0660  radio        radio
